.disease-container {
  text-align: center;
  padding: 20px;
}

.preview {
  width: 250px;
  border-radius: 10px;
  margin: 10px 0;
}

button {
  background: #2e7d32;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 10px;
}
button:disabled {
  background: gray;
  cursor: not-allowed;
}

.result {
  background: #f5fff5;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  border-left: 6px solid #2e7d32;
  text-align: left;
}

.result h3 {
  color: #1b5e20;
  margin-bottom: 10px;
}

.result h4 {
  margin-top: 12px;
  color: #388e3c;
  font-size: 18px;
  font-weight: 600;
}

.result li {
  margin-left: 20px;
  line-height: 1.5;
  font-size: 16px;
}

small {
  display: block;
  margin-top: 12px;
  color: #555;
}
