* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body { margin: 0; background: linear-gradient(180deg,#f7f9fc,#f3f6fb); color: #0f1724; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale }
body, input, button{font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial}

/* utility */
.container{max-width:1200px;margin:0 auto}
